@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */
.input-field {
    @apply bg-[#1E1E2A] border border-gray-600 text-gray-200 rounded-lg px-4 py-3 focus:outline-none focus:ring-2 focus:ring-indigo-500 placeholder-gray-500;
}